---
import {Image} from "astro:assets";
import Logo from "./src/assets/logo.png"
---

<header class="bg-custom-bg h-24 w-full flex justify-center items-center">
    <a href="/">
        <Image src={Logo} alt="Logo" class='w-[208px]'/>
    </a>
</header>